<!DOCTYPE HTML>
<html>
  <head>

  <% if current_user %>
    Welcome, <%= current_user.username %>
  <% end %>
  </head>
  <body>
  <form action="/users" method="POST">
  Full Name: <input type="text" name="full_name" required /> <br/>
  Username: <input type="text" name="username" required /> <br/>
  Email: <input type="email" name="email" required /> <br/>
  Password: <input type="password" name="password" required /> <br/>
  Confirm Password: <input type="password" name="confirm_password" required /> <br/>
  <input type="submit" value="Sign Up" />
  </form>
  </body>
</html>
