<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index_style.css">
  <% if current_user %>
    Welcome, <%= current_user.username %>
  <% end %>
  </head>
  <body>
    <div class="main-container">
      <div class="nav-bar">
        <div class="logo">
          MakersBnB
        </div>
        <div class="sign-in">
          SignIn
        </div>
        <div class="sign-out">
          SignOut
        </div>

      </div>


      <form action="/users" method="POST">
        Full Name: <input type="text" name="full_name" required /> <br/>
        Username: <input type="text" name="username" required /> <br/>
        Email: <input type="email" name="email" required /> <br/>
        Password: <input type="password" name="password" required /> <br/>
        Confirm Password: <input type="password" name="confirm_password" required /> <br/>
        <input type="submit" value="Sign Up" />
      </form>

    </div>  <!-- Main Container -->
  </body>
</html>
