<!DOCTYPE HTML>
<html>
<head>

<% if current_user %>
  Welcome, <%= current_user.username %>
<% end %>
</head>

  <body>
    <h1>'List of spaces'</h1>
    <div>
      <% @spaces.each do |space| %>
      <%= space.name %>
      <% end %>
    </div>
  </body>
</html>
