.nav-bar{
  height: 50px;
  color: white;
  background-color: crimson;
  width: 100%;
}
.logo{
  float: left;
}
.login{
  float: right;
}
.logout{
  float: right;
}
.a{
background: transparent;
color: white;
border: none;
height: 100%;
width: 100%;
vertical-align: middle;
}

.a1{
  margin: 0px;
  padding: 0px;
  height: 38px;
}
