<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/index_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="/full-slider.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body class="everywhere">
  <nav class="navbar navbar-default n1">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="http://i.imgur.com/AXqcaLF.png">
      </a>
      <% if !current_user %>
        <a class="btn btn-primary navbar-btn a1" href="/spaces">View All Spaces</a>
        <a class="btn btn-primary  navbar-btn a1" href="/sessions/new">Sign In</a>
        <% if request.path_info != "/" %>
          <a class="btn btn-primary  navbar-btn a1" href="/">Sign Up</a>
        <% end %>
      <% else %>
      <div class="a1 btn btn-primary navbar-btn">
        <form action="/sessions" method="POST">
          <input type="hidden" name="_method" value="delete">
          <input class="a" type="submit" value="Sign out">
        </form>
      </div>
        <a class="btn btn-primary  navbar-btn a1" href="/spaces/new">List a space</a>
        <a class="btn btn-primary navbar-btn a1" href="/requests">View My Requests</a>
        <a class="btn btn-primary navbar-btn a1" href="/bookings">View My Bookings</a>
        <a class="btn btn-primary navbar-btn a1" href="/spaces">View All Spaces</a>
   <% end %>
  </div>
</nav>
  <%= partial :flash %>
  <%= yield %>

  <script>
  $('.carousel').carousel({
      interval: 3000 //changes the speed
  })
  </script>
</body>
</html>
