<div class="mt-4 box">
<form method="post" name="login" action="/sessions">
  <label for="email" name="email">Email:&nbsp;&nbsp;</label><input type="email" name="email" required></label></br>
  <label for="password" name="password">Password:&nbsp;&nbsp;</label><input type="password" name="password" required>
  <div class="login"><input type="submit" value="Log In"></div>
</form>
</div>
