<div class="mt-4 box">
<form action="/spaces/new" method="POST">
  <label>Property Name:&nbsp;&nbsp;</label>
  <input type="text" name="name" required></br>
  <label>Description:&nbsp;&nbsp;</label>
  <input type="text" name="description" required></br>
  <label>Image URL:&nbsp;&nbsp;</label>
  <input type="text" name="media_url" placeholder="optional"></br>
  <label>Price:&nbsp;&nbsp;</label>
  <input type="text" name="price" required></br>
  <label>From Date:&nbsp;&nbsp;</label>
  <input type="date" name="from_date" required></br>
  <label>To Date:&nbsp;&nbsp;</label>
  <input type="date" name="to_date" required></br>
  <input type="submit" value="List Space">
</form>
</div>
