<form action="/spaces/new" method="POST">
  <label>Name</label>
  <input type="text" name="name">
  <label>Description</label>
  <input type="text" name="description">
  <label>Price</label>
  <input type="text" name="price">
  <label>From Date</label>
  <input type="date" name="from_date">
  <label>To Date</label>
  <input type="date" name="to_date">
  <input type="submit" value="List Space">
</form>
