<form action="/spaces/new" method="POST">
  <label>Name</label>
  <input type="text" name="name" required>
  <label>Description</label>
  <input type="text" name="description" required>
  <label>Price</label>
  <input type="text" name="price" required>
  <label>From Date</label>
  <input type="date" name="from_date" required>
  <label>To Date</label>
  <input type="date" name="to_date" required>
  <input type="submit" value="List Space">
</form>
